NEXTAUTH_URL=https://iplvr.it.ntnu.no
NEXTAUTH_SECRET=replace-with-a-generated-secret

BACKEND_API_URL=http://backend-service:8000

KEYCLOAK_CLIENT_ID=ragdoll-config
KEYCLOAK_CLIENT_SECRET=replace-with-keycloak-client-secret
KEYCLOAK_ISSUER=https://iplvr.it.ntnu.no/realms/ragdoll

NEXT_PUBLIC_CHAT_WEBSITE_URL=https://iplvr.it.ntnu.no/chat
NEXT_PUBLIC_RAGDOLL_BASE_URL=https://iplvr.it.ntnu.no

DISABLE_AUTH=false
